@font-face {
  font-family: "prx-nova";
  src: url('../assets/fonts/prxnl.otf');
  font-weight: 100;
}

@font-face {
  font-family: "prx-nova";
  src: url('../assets/fonts/prxnr.otf');
  font-weight: 300;
}

@font-face {
  font-family: "prx-nova";
  src: url('../assets/fonts/Proxima Nova Sbold.otf');
  font-weight: 600;
}

@font-face {
  font-family: "prx-nova";
  src: url('../assets/fonts/Proxima Nova Bold.otf');
  font-weight: 800;
}

@font-face {
  font-family: "prx-nova";
  src: url('../assets/fonts/Proxima Nova Xbold.otf');
  font-weight: 900;
}