@font-face {
  font-family: "prx-nova";
  src: url('assets/fonts/Proxima Nova Light.otf');
  font-weight: 100;
}

@font-face {
  font-family: "prx-nova";
  src: url('assets/fonts/Proxima Nova Reg.otf');
  font-weight: 300;
}

@font-face {
  font-family: "prx-nova";
  src: url('assets/fonts/Proxima Nova Sbold.otf');
  font-weight: 600;
}

@font-face {
  font-family: "prx-nova";
  src: url('assets/fonts/Proxima Nova Bold.otf');
  font-weight: 800;
}

@font-face {
  font-family: "prx-nova";
  src: url('assets/fonts/Proxima Nova Xbold.otf');
  font-weight: 900;
}