.AdditionalProjects, .HomeBuildLanding, .EventPlanLanding, .MyJob {
	.ProjectCard {	

		.cat-thumb {
			margin-top: 32px;
			width: 100%;
			height: 256px;
			background-size: cover;
		}
		.card-content {
			height: 142px;
			overflow: hidden;
		}		
	}

	.cat-thumb {
		margin-top: 32px;
		width: 100%;
		height: 256px;
		background-size: cover;
	}
	.CategoryCard {
		.card-content {
			h4 {
				font-size: 16px;
			}
			height: 80px;
		}		
	}
	.relatedServices {
		h4 {
			font-weight: 800;
		}
		.cat-thumb {
			height: 360px;
			background-position: 0 38%;
		}
	}
}